<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Single2013.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <Single2013.Properties.Settings>
      <setting name="BinSizeIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ZoomModeIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="PMASavePath" serializeAs="String">
        <value>C:\user\tir\data</value>
      </setting>
      <setting name="PMAhead" serializeAs="String">
        <value>hel</value>
      </setting>
      <setting name="CCDModelIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ImagingWidth" serializeAs="String">
        <value>512</value>
      </setting>
      <setting name="ImagingHeight" serializeAs="String">
        <value>512</value>
      </setting>
      <setting name="CameraIndex" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Lasers" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Green</string>
            <string>dev3/port0/line16</string>
            <string>Red</string>
            <string>dev3/port0/line28</string>
            <string>Blue</string>
            <string>dev3/port0/line24</string>
            <string>Far Red</string>
            <string>dev3/port0/line20</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Counters" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>Green</string>
            <string>dev3/ctr5</string>
            <string>/dev3/20MhzTimebase</string>
            <string>/dev3/PFI35</string>
            <string>Red</string>
            <string>dev3/ctr2</string>
            <string>/dev3/20MhzTimebase</string>
            <string>/dev3/PFI35</string>
            <string>Blue</string>
            <string>dev3/ctr3</string>
            <string>/dev3/20MhzTimebase</string>
            <string>/dev3/PFI35</string>
            <string>Far Red</string>
            <string>dev3/ctr4</string>
            <string>/dev3/20MhzTimebase</string>
            <string>/dev3/PFI35</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="Colortable" serializeAs="String">
        <value>shrcol.tbl</value>
      </setting>
      <setting name="RotateImageIndex" serializeAs="String">
        <value>0</value>
      </setting>
    </Single2013.Properties.Settings>
  </userSettings>
</configuration>
